body{
    margin: 0;
    padding: 0;
    background-color: hsl(217, 54%, 11%);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.top img{
    width:100%;
    height: 80%;
    border-radius:15px;
}
.top:hover img{
    filter: hue-rotate(178deg);
}
.cadre-externe{
    margin: 0;
    padding: 1%;
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 18%;
    height: 65%;
   
}
.middel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10%;
}
.middel1,.middel2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.middel1 p,.middel2 p{
    font-size: 1.1vw;
    margin: 0;
    padding: 0;
}

.bas img{
    height: 5%;
    width:10%;
}
.bas{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.1vw;
}
.bas img{
    height: 100%;
    width: 12%;
    border: 1px solid white;
    border-radius: 100%;
    margin-right: 5%;
}
.bas p{
    margin-right: 3%;
}
.par1{
  margin: 0;
  font-size: 1.5vw;
  margin-top: 5%;
}
.par2{
    font-size: 1.1vw;
    color: hsl(238, 14%, 63%);
    margin-bottom: 10%;
    
}
.bas p:nth-child(2){
    color: hsl(238, 14%, 63%);
}
.bas:hover  p:nth-child(3){
    color: hsl(178, 100%, 50%);;
}
hr{
   border-color: hsl(215, 32%, 27%);
}
.par1:hover{
    color: hsl(178, 100%, 50%);
}

